/***************** ALL COLOR RELATED CSS *****************
**********************************************************/

// ------ Color Variables ------

$navbar-bg-color: #222;
$navbar-txt-color: #fff;
$navbar-link-color: #fff;
$navbar-link-visited: #cac7c7;
$navbar-link-hover: rgb(157, 140, 235);

$loading-spinner-text: rgb(146, 144, 144);
$loading-ball-color1: #71afe9e3;
$loading-ball-color2: rgba(111, 226, 121, 0.993);
$loading-ball-color3: #e3f34e;
$loading-ball-color4: #cb6ce7;

// -- Navbar --

#navbar {
  background-color: $navbar-bg-color;
  color: $navbar-txt-color;

  a {
    color: $navbar-link-color;
  }

  a:visited {
    color: $navbar-link-visited;
  }
  a:hover {
    color: $navbar-link-hover;
  }
}

// -- Loading Spinner --

.loading-text {
  color: $loading-spinner-text;
}

// ************************************************
