$product-img-width: 150px;
$product-img-height: 250px;
$product-details-image-height: 400px;
$product-details-image-width: 300px;

.product-price {
  font-style: italic;
}

.product-tile {
  img {
    width: $product-img-width;
    height: $product-img-height;
    object-fit: cover;
  }
  .product-name,
  .product-price {
    margin: 5px;
  }

  a:hover {
    text-decoration: underline;
  }
}

#product-details {
  .product-image {
    width: $product-details-image-width;
    height: $product-details-image-height;
    object-fit: cover;
  }

  .product-name {
    text-align: center;
    margin-bottom: 20px;
  }
}
