/************ ALL PAGE STRUCTURE RELATED CSS *************
  Anything related to position/grid/flexbox go here
**********************************************************/

// ------ Variables ------
$navbar-height: 130px;
$header-height: 35px;
$single-product-height: 300px;
$single-product-width: 320px;
$product-details-header: 50px;

// -- Navbar --
#navbar {
  position: fixed;
  top: 0;
  height: $navbar-height;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* 
  Make sure all the main content sections are not covered by the navbar
*/

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* account for nav height */
  height: calc(100vh - #{$navbar-height});
  > * {
    // all direct descendents of main
    // must interpolate sass variables to use them in calc
    margin: calc(#{$navbar-height} + 20px) 20px 20px 20px;
  }
}

// -- AllProducts --
#all-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  * {
    margin: 10px;
  }
  h1 {
    height: $header-height;
    flex: 1 100%;
  }
}

// -- Loading Spinner --

#loading-spinner {
  display: flex;
  flex-direction: column;
  align-content: center;

  #loading-container {
    display: flex;
    justify-content: space-around;
  }
}

// -- Form --

.form-container {
  padding: 5px 10px 10px 10px;

  .form-title {
    margin: 10px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 400px;

    .form-field-container {
      width: 100%;
      display: grid;
      grid-template-columns: auto 60px;
      grid-template-rows: auto;
      grid-row-gap: 5px;
      align-items: center;

      .form-field {
        margin: 5px;
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 10px;
      }
    }
    button {
      margin: 5px 10px 5px 10px;
    }
  }
  .warning {
    grid-column: 2 / 3;
  }
}

// product details: when you go into a single product page
#product-details {
  display: grid;
  grid-template-columns: 1fr 1fr 20px 1fr 1fr 1fr;

  grid-template-rows: $product-details-header 1fr 1fr 1fr 1fr;

  grid-column-gap: 10px;

  grid-row-gap: 10px;

  .product-name {
    grid-area: 1 / 1 / 2 / 3;
  }

  .product-image {
    grid-area: 2 / 1 / 6 / 3;
    justify-self: center;
  }

  .product-text {
    grid-area: 2 / 4 / 5 / 7;
    align-self: center;
    > * {
      margin: 10px 0;
    }
  }

  .cart-button {
    grid-area: 5 / 5 / 6 / 6;
  }
}
