$banner-height: 200px;

.welcome-page {
  width: 100vw;
  margin-top: 10px;
  img {
    width: 100%;
  }
  > div {
    position: relative;
    top: -300px;
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
}
